<div class="temp3">
    <div class="result_area" style="display: none;">
        <img class="img_result_area animate__animated animate__rubberBand animate__slow 1s" src="">
    </div>
    <div class="container-fluid col-30">
        <div class="col gameroom2">

            <div class="col">
                <div class="row">
                    <div class="col-lg-6 col-12 none-x">

                        <div class="col none-x">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-4 text-center">
                                    <div id="circle-b" class="c100 big p0 orange p36">
                                        <span><b id="bstr">{{percent_b_result}}</b><br>%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4 text-center">
                                    <div id="circle-t" class="c100 big p0 green p5">
                                        <span><b id="tstr">{{percent_t_result}}</b><br>%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4 text-center">
                                    <div id="circle-p" class="c100 big p0 p60">
                                        <span><b id="pstr">{{percent_p_result}}</b><br>%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <!-- result -->
                        <div class="col none-pad table-div">
                            <table class="table table-borderless tb2">
                                <thead>
                                    <tr>
                                        <th class="th1">รอบ</th>
                                        <th class="th2">จำนวนไม้</th>
                                        <th class="th3">ผลลัพท์</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl_stack">
                                    <ng-container *ngFor="let result of list_result; index as i; first as isFirst;let l = count">
                                        <tr>
                                            <td>{{i+1}}</td>
                                            <td>{{result.p_win_step-1}}</td>
                                            <td style="background-image: url(&quot;/assets/images/content/win.png&quot;); background-repeat: no-repeat; background-position: center center; background-size: 30%;">{{result.p_win_lose}}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>รวมผลลัพท์</td>
                                        <td>รวมชนะ</td>
                                        <td>รวมแพ้</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td id="total" class="tf1">{{sumResult}}</td>
                                        <td id="win" class="tf2">{{percentWin}}%</td>
                                        <td id="lose" class="tf3">{{percentLose}}%</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- result -->


                        <div class="clearfix">&nbsp;</div>

                        <div class="clearfix">&nbsp;</div>
                        <div class="fic">
                            <!-- <p id="countdown2">กำลังประมวลผล กรุณารอสักครู่</p> -->
                            <div class="clearfix pc-x">&nbsp;</div>
                            <div class="clearfix pc-x">&nbsp;</div>
                        </div>

                    </div>

                    <!-- RESULT -->
                    <div class="col-lg-6 col-12 none-x">
                        <!-- PERCENT WIN AND STEP -->
                        <div class="row text">
                            <div class="col-lg-4 col-5 l">
                                <ng-container *ngIf="step!=''&&step!=null">
                                    <h3 id="winrate"><span>อัตราการชนะ</span>{{percent}}%</h3>
                                </ng-container>
                            </div>
                            <div class="col-lg-7 col-7 r">
                                <ng-container *ngIf="step_type=='1'||step_type==null">
                                    <h3 id="nextPre"> รอสูตร </h3>
                                </ng-container>
                                <ng-container *ngIf="step_type==2">
                                    <h3 id="nextPre">ตาถัดไป (ไม้ที่ {{step}}/3)</h3>
                                    <div id="predict">
                                        <ng-container *ngIf="predict=='P'">
                                            <img src="/assets/images/content/p.png">
                                        </ng-container>
                                        <ng-container *ngIf="predict=='B'">
                                            <img src="/assets/images/content/b.png">
                                        </ng-container>


                                    </div>
                                </ng-container>

                            </div>
                        </div>
                        <!-- PERCENT WIN AND STEP -->

                        <!-- SHOW CARD -->
                        <div class="row text" style="margin-top: 40px;">
                            <div class="col-lg-6 col-5 l" style="text-align: center;padding-top: 20px;">
                                <ng-container *ngIf='card1=="x"||card1=="0"'>
                                    <img class="animate__animated animate__flipInX animate__slow 1s" style="width: 33.33%;" src="/assets/images/card/0.png" alt="">
                                </ng-container>
                                <ng-container *ngIf='card1!="x"&&card1!="0"'>
                                    <img class="animate__animated animate__flipInX animate__slow 1s" style="width: 33.33%;" src="/assets/images/card/{{card1}}.png" alt="">
                                </ng-container>
                                <ng-container *ngIf='card2=="x"||card2=="0"'>
                                    <img class="animate__animated animate__flipInX animate__slow 1s" style="width: 33.33%;" src="/assets/images/card/0.png" alt="">
                                </ng-container>


                                <ng-container *ngIf='card2!="x"&&card2!="0"'>
                                    <img class="animate__animated animate__flipInX animate__slow 1s" style="width: 33.33%;" src="/assets/images/card/{{card2}}.png" alt="">
                                </ng-container>
                                <ng-container *ngIf='card3=="x"||card3=="0"'>
                                    <img class="animate__animated animate__flipInX animate__slow 1s" style="width: 33.33%;" src="/assets/images/card/0.png" alt="">
                                </ng-container>
                                <ng-container *ngIf='card3!="x"&&card3!="0"'>
                                    <img class="animate__animated animate__flipInX animate__slow 1s" style="width: 33.33%;" src="/assets/images/card/{{card3}}.png" alt="">
                                </ng-container>
                                <div style="color: white;">PLAYER</div>
                            </div>
                            <div class="col-lg-6 col-5 l" style="text-align: center;padding-top: 20px;">
                                <ng-container *ngIf='card4=="x"||card4=="0"'>
                                    <img class="animate__animated animate__flipInX animate__slow 1s" style="width: 33.33%;" src="/assets/images/card/0.png" alt="">
                                </ng-container>
                                <ng-container *ngIf='card4!="x"&&card4!="0"'>
                                    <img class="animate__animated animate__flipInX animate__slow 1s" style="width: 33.33%;" src="/assets/images/card/{{card4}}.png" alt="">
                                </ng-container>
                                <ng-container *ngIf='card5=="x"||card5=="0"'>
                                    <img class="animate__animated animate__flipInX animate__slow 1s" style="width: 33.33%;" src="/assets/images/card/0.png" alt="">
                                </ng-container>
                                <ng-container *ngIf='card5!="x"&&card5!="0"'>
                                    <img class="animate__animated animate__flipInX animate__slow 1s" style="width: 33.33%;" src="/assets/images/card/{{card5}}.png" alt="">
                                </ng-container>
                                <ng-container *ngIf='card6=="x"||card6=="0"'>
                                    <img class="animate__animated animate__flipInX animate__slow 1s" style="width: 33.33%;" src="/assets/images/card/0.png" alt="">
                                </ng-container>
                                <ng-container *ngIf='card6!="x"&&card6!="0"'>
                                    <img class="animate__animated animate__flipInX animate__slow 1s" style="width: 33.33%;" src="/assets/images/card/{{card6}}.png" alt="">
                                </ng-container>
                                <div style="color: white;">BANKER</div>
                            </div>
                        </div>
                        <!-- SHOW CARD -->
                        <div class="clearfix">&nbsp;</div>
                        <table id="rtable" class="table table-borderless tb1 " style="margin-top: 15px;">
                            <tbody>
                                <tr class="tr1">
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                </tr>
                                <tr class="tr2">
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                </tr>
                                <tr class="tr3">
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                </tr>
                                <tr class="tr4">
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                </tr>
                                <tr class="tr5">
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                </tr>
                                <tr class="tr6">
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                    <td>
                                        <div><img src="/assets/images/content/e.png" class="img-fluid d-block mx-auto"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- RESULT -->



                </div>

            </div>
            <div class="closexx shadow" onclick="location.href='/dg_game';">
                <svg style="top: 5px;position: absolute;" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
        </div>
    </div>
</div>