.banner_area {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

.w100 {
    font-weight: 100 !important;
}

.banner_area .detail_l {
    float: left;
    width: 100%;
}

.banner_area .detail_l img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.banner_area .detail_r {
    float: left;
    width: 100%;
}

.banner_area .detail_r img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.classTD {
    min-height: 62px;
    height: 50px;
}

.date_picker {
    width: 250px;
    margin: 15px
}

.no_border_top {
    border-top: 0px;
}

.userArea {
    padding: 15px;
    float: right;
    color: white;
}

.userArea .name {
    margin-top: 8px;
    float: right;
}

.userArea .credit {
    margin-top: 8px;
    float: right;
    margin-left: 15px;
}

.userArea .logout {
    float: right;
    margin-left: 15px;
}

.userArea .logout:hover {
    cursor: pointer;
}

.colorHandicap {
    background: #757171;
}

.btn_ {
    overflow: hidden;
    text-align: center;
}

.btn_ img {
    width: 265px;
}

.scan_td {
    height: 70px;
}

.table_font_size {
    font-size: 12px;
}

.banner_area .detail_l img {
    margin-top: 5px;
}

.banner_area .detail_r img {
    margin-top: 5px;
}

@media (min-width: 768px) {
    .banner_area .detail_l img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 10px;
    }
    .banner_area .detail_r img {
        margin-top: 10px;
    }
    .table_font_size {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .banner_area .detail_l {
        float: left;
        width: 672px;
    }
    .banner_area .detail_r {
        float: left;
        width: calc(100% - 672px);
    }
    .banner_area .detail_l img {
        margin-top: 0px;
        float: left;
        padding-bottom: 10px;
        padding-right: 10px;
        margin: unset;
        width: 100%;
    }
    .banner_area .detail_r img {
        float: left;
        padding-bottom: 10px;
        margin: unset;
        width: 100%;
        margin-top: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .banner_area .detail_l {
        float: left;
        width: 802px;
    }
    .banner_area .detail_r {
        float: left;
        width: calc(100% - 802px);
    }
}