<div class="container h-100">

    <div class="d-flex justify-content-center h-100">

        <div class="user_card">
            <div class=" logo_login ">
                <img src="/assets/images/content/logo.png " class="brand_logo " alt="Logo ">
            </div>
            <div class="text_login">
                ล็อคอินเพื่อเข้าสู่ระบบ
            </div>
            <br>
            <div class="text_message ">
                <span>{{infoMessage}}</span>
            </div>
            <form (ngSubmit)="Validateuser() " novalidate=" " class="ng-untouched ng-pristine ng-valid ">
                <div class="input-group mb-3 ">
                    <!-- <div class="input-group-append ">
                        <span class="input-group-text "><i class="fas fa-user "></i></span>
                    </div> -->
                    <input type="text" name="username" id="username" class="form-control input_user" value="" placeholder="USERNAME">
                </div>
                <div class="input-group mb-2 ">
                    <!-- <div class="input-group-append ">
                        <span class="input-group-text "><i class="fas fa-key "></i></span>
                    </div> -->
                    <input type="password" name="password" id="password" class="form-control input_pass" value="" placeholder="PASSWORD">
                </div>

                <div class="d-flex justify-content-center mt-3 login_container ">
                    <button type="submit" class="btn login_btn">LOGIN</button>
                </div>
            </form>
            <!-- <div class="d-flex justify-content-center ">
                <div class="brand_logo_container ">
                    <ng-container *ngIf="url_img_login!=null&&url_img_login!='' ">
                        <img src="{{url_img_login}} " class="brand_logo " alt="Logo ">
                    </ng-container>
                    <ng-container *ngIf="url_img_login==null||url_img_login=='' ">
                        <img src="/assets/images/logo/logo.png " class="brand_logo " alt="Logo ">
                    </ng-container>
                </div>
            </div>

            <div class="d-flex justify-content-center form_container ">
                <form (ngSubmit)="Validateuser() " novalidate=" " class="ng-untouched ng-pristine ng-valid ">
                    <div class="input-group mb-3 ">
                        <div class="input-group-append ">
                            <span class="input-group-text "><i class="fas fa-user "></i></span>
                        </div>
                        <input type="text " name="username " id="username " class="form-control input_user " value=" " placeholder="username ">
                    </div>
                    <div class="input-group mb-2 ">
                        <div class="input-group-append ">
                            <span class="input-group-text "><i class="fas fa-key "></i></span>
                        </div>
                        <input type="password " name="password " id="password " class="form-control input_pass " value=" " placeholder="password ">
                    </div>
                    <div class="form-group ">
                        <div class="custom-control custom-checkbox ">
                            <input type="checkbox " class="custom-control-input " id="customControlInline ">
                            <label class="custom-control-label " for="customControlInline ">Remember me</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container ">
                        <button type="submit " class="btn login_btn ">Login</button>
                    </div>
                </form>
            </div> -->

            <!-- <div class="mt-4 ">
                <div class="d-flex justify-content-center links ">
                    Don't have an account? <a href="# " class="ml-2 ">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links ">
                    <a href="# ">Forgot your password?</a>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- <div  class="app-body ">
    <main  class="main d-flex align-items-center ">
        <div  class="container ">
            <div  class="row " style="padding:15px; ">
                <div  class="col-md-8 mx-auto ">
                    <div  class="card-group ">
                        <div  class="card p-4 ">
                            <div  class="card-body ">
                                <span>{{infoMessage}}</span>
                                <form (ngSubmit)="Validateuser() " novalidate=" " class="ng-untouched ng-pristine ng-valid ">
                                    <div  class="input-group mb-3 ">
                                        <div  class="input-group-prepend "><span  class="input-group-text "><i  class="icon-user "></i></span></div>
                                        <input  autocomplete="username " name="username " class="form-control ng-untouched ng-pristine ng-invalid " placeholder="Username " required=" " type="text " ng-reflect-required=" " ng-reflect-options="[object
            Object] ">
                                    </div>
                                    <div  class="input-group mb-4 ">
                                        <div  class="input-group-prepend "><span  class="input-group-text "><i  class="icon-lock "></i></span></div>
                                        <input  autocomplete="current-password " name="password " class="form-control ng-untouched ng-pristine ng-invalid " placeholder="Password " required=" " type="password " ng-reflect-required="
            " ng-reflect-options="[object Object] ">
                                    </div>
                                    <div  class="row ">
                                        <div  class="col-6 ">
                                            <button  class="btn btn-primary px-4 " type="submit ">Login</button>
                                        </div>
                                        <div  class="col-6 text-right ">
                                            <button  class="btn btn-link px-0 " type="button ">Forgot password?</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div> -->