<div class="container">
    <div class="lobby_logo"><img class="lobby_img_logo" src="/assets/images/content/logo.png" alt=""></div>
    <!-- <ng-container *ngIf="url!=null">
        <div class="lobby_logo"><img class="lobby_img_logo" src="{{url}}" alt=""></div>
    </ng-container>
    <ng-container *ngIf="url==null">
        <div class="lobby_logo"><img class="lobby_img_logo" src="/assets/images/logo/logo.png" alt=""></div>
    </ng-container> -->


    <!-- <div class="lobby_text">เลือกสูตรที่ต้องการ</div> -->

    <div class="lobby_area lobby_theme1">
        <div class="button_sa">
            <a href="/sa_game"><img class="hover hvr-push" src="/assets/images/content/sa gaming.png" alt=""></a>
        </div>
        <div class="button_sa">
            <a href="/select_game"><img class="hover hvr-push" src="/assets/images/content/joker gaming.png" alt=""></a>
        </div>
    </div>



</div>