<div class="bg_jackport" style="display: none;">
    <div class="jackportDiv">
        <div class="boxJaxport">
            <div class="game_div hvr-push hover">
                <div class="percent_rate_jackpot" style="background: rgb(53,33,254); background: linear-gradient(90deg, rgb(55, 248, 7) 0%, rgb(0, 163, 22) 50%, rgb(0, 228, 19) 100%);" [ngStyle]="{'width': 'calc( 100% - 30px )' }">100%</div>
                <img class="bg_game" src="/assets/images/content/game-frame.png" alt="">
                <div class="content_game_area">
                    <div class="image_game_indev_jackpot">
                        <img src="{{url_image}}" alt="">
                    </div>
                    <div class="game_text_indev" style="position: relative; padding-top:8px;">
                        {{room_name}}
                        <div class="win_rate_indev_jackpot">
                            อัตราชนะ
                        </div>
                        <div class="rate_indev">
                            100%
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="lobby_logo"><img class="lobby_img_logo" src="/assets/images/content/logo.png" alt=""></div>

    <div class="center_area">
        <div class="bg_top">
            <img src="/assets/images/content/center_top.png" alt="">
        </div>
        <div class="top_button">
            <div class="coice_game_btn">
                <a href="/select_game" style="color: white;">
                    <img class="icon_btn" src="/assets/images/content/coice game 2.png" alt=""> เลือกเกมส์อื่น
                </a>

                <!-- <img src="/assets/images/content/coice game.png" alt=""> -->
            </div>
            <div class="credit_btn" data-toggle="modal" data-target="#exampleModal">
                <img class="icon_btn" src="/assets/images/content/credit 2.png" alt=""> Credit ที่มี : {{member_credit}}
                <!-- <img src="/assets/images/content/credit.png" alt=""> -->
            </div>
            <div class="logout_btn" (click)="logout()">
                ออกจากระบบ
                <!-- <img src="/assets/images/content/credit.png" alt=""> -->
            </div>
        </div>
        <div class="game_area">
            <div class="row" style=" width: 100%; margin: unset; background: #9A0068;    border-bottom-left-radius: 10px;    border-bottom-right-radius: 10px;">
                <ng-container *ngFor="let todo of data_game;index as i;">
                    <div class="col-6 col-md-2" style="text-align: center;">
                        <div class="game_div hvr-push hover">
                            <ng-container *ngIf="todo.gd_percent<70">
                                <div class="percent_rate" style="background: rgb(53,33,254); background: linear-gradient(90deg, rgba(53,33,254,1) 0%, rgba(178,25,204,1) 50%, rgba(255,0,252,1) 100%);" [ngStyle]="{'width': 'calc( '+todo.gd_percent+'% - 10% )' }">{{todo.gd_percent}}%</div>
                            </ng-container>
                            <ng-container *ngIf="todo.gd_percent>70">
                                <div class="percent_rate" style="background: rgb(53,33,254); background: linear-gradient(90deg, rgba(53,33,254,1) 0%, rgba(178,25,204,1) 50%, rgba(255,0,252,1) 100%);" [ngStyle]="{'width': 'calc( '+todo.gd_percent+'% - 20% )' }">{{todo.gd_percent}}%</div>
                            </ng-container>

                            <img class="bg_game" src="/assets/images/content/game-frame.png" alt="">
                            <div class="content_game_area">
                                <div class="image_game_indev">
                                    <img src="http://f1slot888.com/upload/file/{{todo.pupn_image_filename}}.{{todo.pupn_image_type}}" alt="">
                                </div>
                                <div class="game_text_indev" style="position: relative; padding-top:8px;">
                                    {{todo.gd_name}}
                                    <div class="win_rate_indev">
                                        อัตราชนะ
                                    </div>
                                    <div class="rate_indev">
                                        {{todo.gd_percent}}%
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="textCopyright">
            Copyright 2020 © WWW.F1SLOT888.COM All Rights Reserved.
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">เติมเครดิต</h5>
                <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="ใส่รหัส 16 หลัก" [(ngModel)]="credit_code" id="credit_code" name="credit_code">
            </div>
            <div class="modal-footer">
                <button type="button" (click)="updateCredit();" class="btn btn-primary">ตกลง</button>
            </div>
        </div>
    </div>
</div>