.area_formula {
    float: left;
    position: relative;
    z-index: 222;
}


/* HEEBO */


/*html {
    scroll-behavior: smooth;
  }*/

.top_Area {
    position: relative;
    padding-bottom: 40px;
    padding-top: 10px;
}

.none-pad {
    padding: 0px 0px 0px 0px !important;
}

.none-right {
    margin-right: -15px;
}

.none-left {
    margin-left: -15px;
}

@media only screen and (max-width: 991px) {
    /* MOBILE */
    .mb-x {
        display: none;
    }
    .hhx {
        /*background-color: #052702;
      -webkit-box-shadow: 0px 26px 44px 17px rgba(5,39,2,1);
      -moz-box-shadow: 0px 26px 44px 17px rgba(5,39,2,1);
      box-shadow: 0px 26px 44px 17px rgba(5,39,2,1);
      height:60px;*/
    }
    .hhx2 {
        /*background-color: #052702;
      -webkit-box-shadow: 0px 26px 44px 17px rgba(5,39,2,1);
      -moz-box-shadow: 0px 26px 44px 17px rgba(5,39,2,1);
      box-shadow: 0px 26px 44px 17px rgba(5,39,2,1);
      height:60px;*/
    }
}

@media only screen and (min-width: 992px) {
    /* PC */
    .pc-x {
        display: none;
    }
    .modal-dialog {
        min-height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
    }
}

a:hover {
    text-decoration: none;
}

small {
    text-align: center;
    font-size: 13px;
    color: #fff;
    opacity: .5;
    font-family: DBHeavent;
}

.pbg2 img {
    max-width: 250px;
}

.pbg2 small {
    text-align: center;
    font-size: 13px;
    color: #fff;
    opacity: .5;
    font-family: DBHeavent;
}

#todId {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.div-menu {
    position: fixed;
    background-color: #000;
    /*052702*/
    top: 0px;
    right: 0px;
    width: 192px;
    height: 100%;
    z-index: 1000;
}

.navtop {
    height: 58px;
}

.bgx1 {
    background-color: #052702;
    -webkit-box-shadow: 0px 6px 16px 9px rgba(5, 39, 2, 1);
    -moz-box-shadow: 0px 6px 16px 9px rgba(5, 39, 2, 1);
    box-shadow: 0px 6px 16px 9px rgba(5, 39, 2, 1);
}

.bgx2 {
    background-color: #7a1d2f;
    -webkit-box-shadow: 0px 6px 16px 9px rgba(122, 29, 47, 1);
    -moz-box-shadow: 0px 6px 16px 9px rgba(122, 29, 47, 1);
    box-shadow: 0px 6px 16px 9px rgba(122, 29, 47, 1);
}

.navtop #logom img {
    width: 90px;
    margin-top: 15px;
    margin-left: 15px;
}

.navtop a img {
    width: 23px;
    margin-top: 15px;
    margin-right: 15px;
}

#button.togCls img {
    width: 23px;
    margin-top: 5px;
}

.navtop a.togCls {
    position: absolute;
    right: 0;
    top: 0;
}

.data-list ul {
    padding-left: 50px;
    text-align: left;
}

.data-list ul {
    list-style: none;
}

.data-list ul li {
    font-size: 15px;
    padding-bottom: 15px;
}

.data-list ul li a {
    font-family: ss-m;
    color: #fff;
}

.data-list ul li:hover {
    color: #fff;
}

.pbg2 .login input {
    background-color: #333333;
    font-family: Prompt-Light;
    text-align: center;
    font-size: 20px;
    color: #919090;
    border: 1px solid #59489b;
}

.pbg2 .register input {
    background-color: #333333;
    text-align: left;
    font-size: 18px;
    padding-left: 15px;
    color: #919090;
    border: 1px solid #16a2eb;
    margin-left: 0px;
    font-family: Prompt-ExtraLight;
}

.pbg2 .register label {
    font-family: Prompt-Light;
    color: #fff;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-image: linear-gradient(to right, #564d9f, #4d63b5, #4078ca, #2f8ddc, #17a2eb);
}

.pbg3 img.logox {
    max-width: 250px;
}

.pbg3 img {
    max-width: 400px;
}

.pbg3 img:hover {
    opacity: .85;
}

.pbg3 small {
    text-align: center;
    font-size: 13px;
    color: #fff;
    opacity: .5;
}

@media only screen and (max-width: 991px) {
    /* MOBILE */
    .bg {
        /* background-image: url("../images/bgx.png"); */
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg2 {
        /* background-image: url("../images/bg2x.png"); */
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pbg1 img {
        max-width: 220px;
    }
    .pbg2 img {
        max-width: 190px;
    }
    .pbg1 h1 {
        font-family: Prompt-SemiBold;
        font-size: 32px;
        text-align: center;
        background: -webkit-linear-gradient(#fff, #0ab3fa, #5a479a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .pbg2 h1 {
        font-size: 32px;
        text-align: center;
        background: -webkit-linear-gradient(#fff, #0ab3fa, #5a479a);
        -webkit-background-clip: text;
        font-family: Prompt-SemiBold;
        -webkit-text-fill-color: transparent;
    }
    .pbg3 img {
        max-width: 200px;
        padding: 5px;
    }
    .pbg3 h1 {
        font-size: 32px;
        text-align: center;
        background: -webkit-linear-gradient(#fff, #0ab3fa, #5a479a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Prompt-SemiBold;
    }
    .pbg2 .register .col-form-label {
        padding-right: 0px;
    }
    .pbg2 .register .inx {
        padding-left: 0px;
        margin-left: -5px;
    }
    .none-x {
        padding: 0px 0px 0px 0px !important;
    }
    .none-xs {
        padding: -15px -15px -15px -15px !important;
    }
    .hhx {}
    .gamb .room {
        color: #f6cc46;
        background-color: #1b433e;
        border-radius: 6px;
        padding: 4px 10px;
        font-size: 16px;
        margin-left: 15px;
        line-height: 50px;
        font-family: Prompt-Regular;
    }
    .gamb2 .hx {
        color: #fff;
        margin-right: 10px;
        font-size: 17px;
        padding-left: -15px;
        padding-top: 10px !important;
        float: right;
        font-family: Prompt-SemiBold;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .gamb .hx {
        color: #fff;
        margin-right: 10px;
        font-size: 17px;
        padding-left: -15px;
        padding-top: 10px !important;
        float: right;
        font-family: Prompt-SemiBold;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .gamb img {
        width: 60px;
        margin-left: -90px;
    }
    .gamb2 img {
        width: 60px;
        margin-left: -90px;
    }
    .gamb2 .room {
        color: #f6cc46;
        background-color: #1b433e;
        border-radius: 6px;
        padding: 4px 10px;
        font-size: 16px;
        margin-left: 15px;
        line-height: 60px;
        font-family: Prompt-Regular;
    }
    .gamb2 .x {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5px;
    }
    .pad-mo {
        padding-left: 30px;
        padding-right: 30px;
    }
    .top-la {
        background: -moz-linear-gradient(left, rgba(22, 77, 98, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(22, 77, 98, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to right, rgba(22, 77, 98, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6164d62', endColorstr='#00000000', GradientType=1);
        height: 18px;
        color: #84dffa;
        line-height: 20px;
        padding-left: 10px;
        text-align: left;
        cursor: pointer;
        width: 110px;
        font-size: 9px;
        font-family: Prompt-Regular;
    }
    .top-la::before {
        width: 0;
        content: "";
        height: 0;
        border-bottom: 18px solid rgba(22, 77, 98, 0.65);
        border-left: 8px solid transparent;
        position: absolute;
        left: 0;
        margin-left: -8px;
    }
    .gameroom .col-game .col-1 {
        padding: 2px 2px 2px 2px !important;
    }
    .gameroom2 .col-game .col-1 {
        padding: 2px 2px 2px 2px !important;
    }
    .gameroom .col-game .col-1 img {
        max-width: 15px;
        padding: 0px;
        line-height: 20px;
        margin-left: 10%;
    }
    .gameroom2 .col-game .col-1 img {
        max-width: 15px;
        padding: 0px;
        line-height: 20px;
        margin-left: 10%;
    }
    .col-30 {
        padding: 10px;
    }
    .gameroom .col-game .col-1 div {
        border: 2px solid #f5e6b6;
        background-image: linear-gradient(to bottom, #97750d, #a6810e, #b68e10, #c69a11, #d6a712);
        margin: 0px;
        border-radius: 5px;
        height: 28px;
        padding: 0px;
        -webkit-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
        -moz-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
        box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
    }
    .gameroom2 .col-game .col-1 div {
        border: 2px solid #f5e6b6;
        background-image: linear-gradient(to bottom, #97750d, #a6810e, #b68e10, #c69a11, #d6a712);
        margin: 0px;
        border-radius: 5px;
        height: 28px;
        padding: 0px;
        -webkit-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
        -moz-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
        box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
    }
    .gameroom .text .l h3 {
        color: #fff;
        font-family: Prompt-Bold;
        line-height: 34px;
        margin-top: 5px;
        font-size: 13px;
    }
    .gameroom .text .l h3 span {
        font-size: 9px;
        color: #fff;
        font-family: Prompt-Regular;
    }
    .gameroom .text .r h3 {
        font-size: 13px;
        color: #fff;
        font-family: Prompt-Medium;
        line-height: 30px;
        margin-top: 10px;
    }
    .gameroom2 .text .l h3 {
        font-size: 13px;
        color: #fff;
        font-family: Prompt-Medium;
        line-height: 30px;
        margin-top: 10px;
    }
    .gameroom2 .text .l h3 span {
        font-size: 9px;
        color: #fff;
        font-family: Prompt-Regular;
    }
    .gameroom .text .r div img {
        margin-top: 6px;
        margin-left: 3px;
        margin-right: 3px;
        width: 30px;
        height: 30px;
    }
    .gameroom .text .r div {
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
        border: 2px solid #fff568;
        background-color: #084403;
        border-radius: 100%;
        margin-top: -4px;
        margin-right: -25px;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
        -moz-box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
        box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
    }
    .gameroom .text .r h3 {
        font-size: 14px;
        color: #fff;
        font-family: Prompt-Medium;
        line-height: 30px;
        margin-top: 10px;
    }
    .gameroom2 .text .r h3 {
        font-size: 14px;
        color: #fff;
        font-family: Prompt-Medium;
        line-height: 30px;
        margin-top: 10px;
    }
    .gameroom2 .text .r div {
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
        border: 2px solid #fff568;
        background-color: #9a0a50;
        border-radius: 100%;
        margin-top: -9px;
        margin-right: -30px;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
        -moz-box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
        box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
    }
    .gameroom2 .text .r div img {
        margin-top: 6px;
        margin-left: 3px;
        margin-right: 3px;
        width: 35px;
        height: 35px;
    }
    .tb .col-4:nth-child(1) {
        background-color: rgb(255, 255, 255, .15);
        font-size: 16px;
        text-align: center;
    }
    .tb .col-4:nth-child(2) {
        background-color: rgb(255, 255, 255, .30);
        font-size: 16px;
        text-align: center;
    }
    .tb .col-4:nth-child(3) {
        background-color: rgb(255, 255, 255, .50);
        font-size: 16px;
        text-align: center;
    }
    .tn .col-4 {
        font-size: 15px;
        text-align: center;
        color: #fff;
        padding: 10px;
        border-bottom: 2px solid rgb(255, 255, 255, .20);
    }
    .textx .col-4 {
        font-size: 16px;
        color: #fff;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .bot .col-4:nth-child(1) {
        background-color: rgb(255, 255, 255, .40);
        font-size: 16px;
        text-align: center;
    }
    .bot .col-4:nth-child(2) {
        background-image: linear-gradient(to right, #0b6f0e, #1d812d, #2c9448, #3ba762, #4bba7c);
        font-size: 16px;
        text-align: center;
    }
    .bot .col-4:nth-child(3) {
        background-image: linear-gradient(to right, #a6093f, #ba074e, #cd055f, #e00672, #f30b86);
        font-size: 16px;
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    /* PC */
    .pbg2 h1 {
        font-size: 50px;
        text-align: center;
        background: -webkit-linear-gradient(#fff, #0ab3fa, #5a479a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Prompt-SemiBold;
    }
    .bg {
        /* background-image: url("../images/background1.png"); */
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg2 {
        /* background-image: url("../images/background2.png"); */
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pbg1 h1 {
        font-family: Prompt-SemiBold;
        font-size: 50px;
        text-align: center;
        background: -webkit-linear-gradient(#fff, #0ab3fa, #5a479a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .pbg3 h1 {
        font-size: 50px;
        text-align: center;
        background: -webkit-linear-gradient(#fff, #0ab3fa, #5a479a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Prompt-SemiBold;
    }
    .pbg2 .register .col-form-label {
        padding-right: 0px;
    }
    .pbg2 .register .inx {
        padding-left: 0px;
        margin-left: -5px;
    }
    .gamb .room {
        color: #f6cc46;
        background-color: #1b433e;
        border-radius: 6px;
        padding: 5px 20px;
        font-size: 20px;
        margin-left: 15px;
        line-height: 60px;
        font-family: Prompt-Regular;
    }
    .gamb .hx {
        color: #fff;
        margin-left: 30px;
        font-size: 18px;
        padding-left: -15px;
        padding-top: 10px !important;
        float: right;
        font-family: Prompt-SemiBold;
    }
    .gamb img {
        width: 120px;
    }
    .top-la {
        background: -moz-linear-gradient(left, rgba(22, 77, 98, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(22, 77, 98, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to right, rgba(22, 77, 98, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6164d62', endColorstr='#00000000', GradientType=1);
        height: 18px;
        color: #84dffa;
        line-height: 20px;
        padding-left: 10px;
        text-align: left;
        cursor: pointer;
        width: 110px;
        font-size: 11px;
        font-family: Prompt-Regular;
    }
    .top-la::before {
        width: 0;
        content: "";
        height: 0;
        border-bottom: 18px solid rgba(22, 77, 98, 0.65);
        border-left: 8px solid transparent;
        position: absolute;
        left: 0;
        margin-left: -8px;
    }
    .gameroom .col-game .col-1 {
        padding: 4px 4px 4px 4px !important;
    }
    .gameroom2 .col-game .col-1 {
        padding: 4px 4px 4px 4px !important;
    }
    .gameroom .col-game .col-1 img {
        max-width: 20px;
        padding: 0px;
        line-height: 60px;
        margin-top: 6px;
        margin-left: 4px;
    }
    .col-30 {
        padding: 30px;
    }
    .gameroom .col-game .col-1 div {
        border: 2px solid #f5e6b6;
        background-image: linear-gradient(to bottom, #97750d, #a6810e, #b68e10, #c69a11, #d6a712);
        margin: 0px;
        border-radius: 5px;
        height: 40px;
        padding: 0px;
        -webkit-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
        -moz-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
        box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
    }
    .gameroom .text .l h3 {
        color: #fff;
        font-size: 16px;
        font-family: Prompt-Bold;
        line-height: 40px;
        margin-top: 5px;
    }
    .gameroom .text .l h3 span {
        font-size: 13px;
        color: #fff;
        font-family: Prompt-Regular;
    }
    .gameroom .text .r h3 {
        font-size: 18px;
        color: #fff;
        font-family: Prompt-Medium;
        line-height: 30px;
        margin-top: 10px;
    }
    .gameroom2 .text .l h3 {
        color: #fff;
        font-family: Prompt-Bold;
        line-height: 40px;
        margin-top: 5px;
        font-size: 16px;
    }
    .gameroom2 .text .l h3 span {
        font-size: 13px;
        color: #fff;
        font-family: Prompt-Regular;
    }
    .gameroom .text .r div img {
        margin-top: 6px;
        margin-left: 3px;
        margin-right: 3px;
        width: 60px;
        height: 60px;
    }
    .gameroom .text .r div {
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
        border: 2px solid #fff568;
        background-color: #084403;
        border-radius: 100%;
        margin-top: -16px;
        margin-right: -30px;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
        -moz-box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
        box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
    }
    .tb .col-4:nth-child(1) {
        background-color: rgb(255, 255, 255, .15);
        font-size: 24px;
        text-align: center;
    }
    .tb .col-4:nth-child(2) {
        background-color: rgb(255, 255, 255, .30);
        font-size: 24px;
        text-align: center;
    }
    .tb .col-4:nth-child(3) {
        background-color: rgb(255, 255, 255, .50);
        font-size: 24px;
        text-align: center;
    }
    .tn .col-4 {
        font-size: 18px;
        text-align: center;
        color: #fff;
        padding: 10px;
        border-bottom: 2px solid rgb(255, 255, 255, .20);
    }
    .textx .col-4 {
        font-size: 24px;
        color: #fff;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .bot .col-4:nth-child(1) {
        background-color: rgb(255, 255, 255, .40);
        font-size: 24px;
        text-align: center;
    }
    .bot .col-4:nth-child(2) {
        background-image: linear-gradient(to right, #0b6f0e, #1d812d, #2c9448, #3ba762, #4bba7c);
        font-size: 24px;
        text-align: center;
    }
    .bot .col-4:nth-child(3) {
        background-image: linear-gradient(to right, #a6093f, #ba074e, #cd055f, #e00672, #f30b86);
        font-size: 24px;
        text-align: center;
    }
    .gameroom2 .col-game .col-1 img {
        max-width: 20px;
        padding: 0px;
        line-height: 60px;
        margin-top: 6px;
        margin-left: 4px;
    }
    .gameroom2 .col-game .col-1 div {
        border: 2px solid #f5e6b6;
        background-image: linear-gradient(to bottom, #97750d, #a6810e, #b68e10, #c69a11, #d6a712);
        margin: 0px;
        border-radius: 5px;
        height: 40px;
        padding: 0px;
        -webkit-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
        -moz-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
        box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
    }
    .gameroom2 .text .r h3 {
        font-size: 18px;
        color: #fff;
        font-family: Prompt-Medium;
        line-height: 30px;
        margin-top: 10px;
    }
    .gameroom2 .text .r div {
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
        border: 2px solid #fff568;
        background-color: #9a0a50;
        border-radius: 100%;
        margin-top: -4px;
        margin-right: -25px;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
        -moz-box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
        box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
    }
    .gameroom2 .text .r div img {
        margin-top: 6px;
        margin-left: 3px;
        margin-right: 3px;
        width: 30px;
        height: 30px;
    }
    .hhx {
        background-color: #052702;
        -webkit-box-shadow: 0px 26px 44px 17px rgba(5, 39, 2, 1);
        -moz-box-shadow: 0px 26px 44px 17px rgba(5, 39, 2, 1);
        box-shadow: 0px 26px 44px 17px rgba(5, 39, 2, 1);
        height: 60px;
    }
    .gamb2 img {
        width: 120px;
    }
    .gamb2 .room {
        color: #f6cc46;
        background-color: #1b433e;
        border-radius: 6px;
        padding: 4px 20px;
        font-size: 20px;
        margin-left: 15px;
        line-height: 60px;
        font-family: Prompt-Regular;
    }
    .gamb2 .hx {
        color: #fff;
        margin-left: 30px;
        font-size: 18px;
        padding-left: -15px;
        padding-top: 10px !important;
        float: right;
        font-family: Prompt-SemiBold;
    }
    .gamb2 .x {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 1200px) {
    /* PC */
    .pbg2 h1 {
        font-size: 50px;
        text-align: center;
        background: -webkit-linear-gradient(#fff, #0ab3fa, #5a479a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Prompt-SemiBold;
    }
    .bg {
        /* background-image: url("../images/background1.png"); */
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg2 {
        /* background-image: url("../images/background2.png"); */
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .pbg1 h1 {
        font-family: Prompt-SemiBold;
        font-size: 50px;
        text-align: center;
        background: -webkit-linear-gradient(#fff, #0ab3fa, #5a479a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .pbg3 h1 {
        font-size: 50px;
        text-align: center;
        background: -webkit-linear-gradient(#fff, #0ab3fa, #5a479a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Prompt-SemiBold;
    }
    .pbg2 .register .col-form-label {
        padding-right: 0px;
    }
    .pbg2 .register .inx {
        padding-left: 0px;
        margin-left: -5px;
    }
    .gamb .room {
        color: #f6cc46;
        background-color: #1b433e;
        border-radius: 6px;
        padding: 5px 20px;
        font-size: 20px;
        margin-left: 15px;
        line-height: 60px;
        font-family: Prompt-Regular;
    }
    .gamb .hx {
        color: #fff;
        margin-left: 30px;
        font-size: 18px;
        padding-left: -15px;
        padding-top: 10px !important;
        float: right;
        font-family: Prompt-SemiBold;
    }
    .gamb img {
        width: 120px;
    }
    .top-la {
        background: -moz-linear-gradient(left, rgba(22, 77, 98, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(22, 77, 98, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to right, rgba(22, 77, 98, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6164d62', endColorstr='#00000000', GradientType=1);
        height: 18px;
        color: #84dffa;
        line-height: 20px;
        padding-left: 10px;
        text-align: left;
        cursor: pointer;
        width: 110px;
        font-size: 11px;
        font-family: Prompt-Regular;
    }
    .top-la::before {
        width: 0;
        content: "";
        height: 0;
        border-bottom: 18px solid rgba(22, 77, 98, 0.65);
        border-left: 8px solid transparent;
        position: absolute;
        left: 0;
        margin-left: -8px;
    }
    .gameroom .col-game .col-1 {
        padding: 4px 4px 4px 4px !important;
    }
    .gameroom2 .col-game .col-1 {
        padding: 4px 4px 4px 4px !important;
    }
    .gameroom .col-game .col-1 img {
        max-width: 60px;
        padding: 0px;
        line-height: 60px;
        margin-top: 6px;
        margin-left: 4px;
    }
    .col-30 {
        padding: 30px;
    }
    .gameroom .col-game .col-1 div {
        border: 2px solid #f5e6b6;
        background-image: linear-gradient(to bottom, #97750d, #a6810e, #b68e10, #c69a11, #d6a712);
        margin: 0px;
        border-radius: 5px;
        height: 60px;
        padding: 0px;
        -webkit-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
        -moz-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
        box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
    }
    .gameroom .text .l h3 {
        color: #fff;
        font-family: Prompt-Bold;
        line-height: 40px;
        margin-top: 5px;
    }
    .gameroom .text .l h3 span {
        font-size: 16px;
        color: #fff;
        font-family: Prompt-Regular;
    }
    .gameroom .text .r h3 {
        font-size: 32px;
        color: #fff;
        font-family: Prompt-Medium;
        line-height: 30px;
        margin-top: 10px;
    }
    .gameroom2 .text .l h3 {
        color: #fff;
        font-family: Prompt-Bold;
        line-height: 40px;
        margin-top: 5px;
    }
    .gameroom2 .text .l h3 span {
        font-size: 16px;
        color: #fff;
        font-family: Prompt-Regular;
    }
    .gameroom .text .r div img {
        margin-top: 6px;
        margin-left: 3px;
        margin-right: 3px;
        width: 60px;
        height: 60px;
    }
    .gameroom .text .r div {
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
        border: 2px solid #fff568;
        background-color: #084403;
        border-radius: 100%;
        margin-top: -16px;
        margin-right: -30px;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
        -moz-box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
        box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
    }
    .tb .col-4:nth-child(1) {
        background-color: rgb(255, 255, 255, .15);
        font-size: 24px;
        text-align: center;
    }
    .tb .col-4:nth-child(2) {
        background-color: rgb(255, 255, 255, .30);
        font-size: 24px;
        text-align: center;
    }
    .tb .col-4:nth-child(3) {
        background-color: rgb(255, 255, 255, .50);
        font-size: 24px;
        text-align: center;
    }
    .tn .col-4 {
        font-size: 18px;
        text-align: center;
        color: #fff;
        padding: 10px;
        border-bottom: 2px solid rgb(255, 255, 255, .20);
    }
    .textx .col-4 {
        font-size: 24px;
        color: #fff;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .bot .col-4:nth-child(1) {
        background-color: rgb(255, 255, 255, .40);
        font-size: 24px;
        text-align: center;
    }
    .bot .col-4:nth-child(2) {
        background-image: linear-gradient(to right, #0b6f0e, #1d812d, #2c9448, #3ba762, #4bba7c);
        font-size: 24px;
        text-align: center;
    }
    .bot .col-4:nth-child(3) {
        background-image: linear-gradient(to right, #a6093f, #ba074e, #cd055f, #e00672, #f30b86);
        font-size: 24px;
        text-align: center;
    }
    .gameroom2 .col-game .col-1 img {
        max-width: 60px;
        padding: 0px;
        line-height: 60px;
        margin-top: 6px;
        margin-left: 4px;
    }
    .gameroom2 .col-game .col-1 div {
        border: 2px solid #f5e6b6;
        background-image: linear-gradient(to bottom, #97750d, #a6810e, #b68e10, #c69a11, #d6a712);
        margin: 0px;
        border-radius: 5px;
        height: 60px;
        padding: 0px;
        -webkit-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
        -moz-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
        box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
    }
    .gameroom2 .text .r h3 {
        font-size: 32px;
        color: #fff;
        font-family: Prompt-Medium;
        line-height: 30px;
        margin-top: 10px;
    }
    .gameroom2 .text .r div {
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
        border: 2px solid #fff568;
        background-color: #9a0a50;
        border-radius: 100%;
        margin-top: -16px;
        margin-right: -30px;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
        -moz-box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
        box-shadow: 0px 0px 16px 0px rgba(251, 243, 103, 1);
    }
    .gameroom2 .text .r div img {
        margin-top: 6px;
        margin-left: 3px;
        margin-right: 3px;
        width: 60px;
        height: 60px;
    }
    .hhx {
        background-color: #052702;
        -webkit-box-shadow: 0px 26px 44px 17px rgba(5, 39, 2, 1);
        -moz-box-shadow: 0px 26px 44px 17px rgba(5, 39, 2, 1);
        box-shadow: 0px 26px 44px 17px rgba(5, 39, 2, 1);
        height: 60px;
    }
    .gamb2 img {
        width: 120px;
    }
    .gamb2 .room {
        color: #f6cc46;
        background-color: #1b433e;
        border-radius: 6px;
        padding: 4px 20px;
        font-size: 20px;
        margin-left: 15px;
        line-height: 60px;
        font-family: Prompt-Regular;
    }
    .gamb2 .hx {
        color: #fff;
        margin-left: 30px;
        font-size: 18px;
        padding-left: -15px;
        padding-top: 10px !important;
        float: right;
        font-family: Prompt-SemiBold;
    }
    .gamb2 .x {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5px;
    }
}

@media only screen and (width: 768px) {
    .gameroom .col-game .col-1 img {
        max-width: 30px;
        padding: 0px;
        line-height: 20px;
        margin-left: 10px;
        margin-top: 5px;
    }
    .gameroom .col-game .col-1 div {
        height: 45px;
    }
    .gameroom2 .col-game .col-1 img {
        max-width: 30px;
        padding: 0px;
        line-height: 20px;
        margin-left: 10px;
        margin-top: 5px;
    }
    .gameroom2 .col-game .col-1 div {
        height: 45px;
    }
}

.gamebg {
    background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #0d080a, #160f14, #1b151b, #24212e, #272f42, #213f55, #105063);
}

.gamebg2 {
    background-image: linear-gradient(to bottom, #000000, #000000, #010100, #010101, #010101, #0e070e, #1a0b13, #240f11, #38121b, #4c1326, #611333, #761143);
}

.hhx .span1 {
    color: #ffffff;
}

.hhx .g1 img {
    padding-left: 15px;
    padding-right: 15px;
    width: 180px;
}

.hhx .g1 .span1 {
    margin-right: 15px;
    font-family: Prompt-Regular;
}

.hhx2 {
    background-color: #7a1d2f;
    -webkit-box-shadow: 0px 26px 44px 17px rgba(122, 29, 47, 1);
    -moz-box-shadow: 0px 26px 44px 17px rgba(122, 29, 47, 1);
    box-shadow: 0px 26px 44px 17px rgba(122, 29, 47, 1);
    height: 60px;
}

.hhx2 .span1 {
    color: #ffffff;
    font-family: Prompt-Regular;
}

.hhx2 .g1 img {
    padding-left: 15px;
    padding-right: 15px;
    width: 180px;
}

.hhx2 .g1 .span1 {
    margin-right: 15px;
    font-family: Prompt-Regular;
}

.hhx .cedit {
    background-color: #375235;
    padding: 6px 25px;
    border-radius: 8px;
    color: #cb9f14;
    font-family: Prompt-Regular;
}

.hhx2 .cedit {
    background-color: #954a59;
    padding: 6px 25px;
    border-radius: 8px;
    color: #cb9f14;
    font-family: Prompt-Regular;
}

a.addt {
    background-color: #d6a712;
    padding: 6px;
    border-radius: 8px;
    margin-left: -8px;
    color: #000;
    font-family: Prompt-Regular;
}

.hhx .g2 span:nth-child(1) {
    color: #fff;
    font-family: Prompt-Regular;
}

.hhx .g2 span:nth-child(2) {
    color: #cb9f14;
    margin-right: 15px;
    cursor: pointer;
    font-family: Prompt-Regular;
}

.hhx2 .g2 span:nth-child(1) {
    color: #fff;
    font-family: Prompt-Regular;
}

.hhx2 .g2 span:nth-child(2) {
    color: #cb9f14;
    margin-right: 15px;
    cursor: pointer;
    font-family: Prompt-Regular;
}

a.selgame {
    background-image: linear-gradient(to right, #554ea0, #4c66b9, #3e7ecf, #2a95e3, #0fadf4);
    color: #fff;
    padding: 6px 15px;
    border-radius: 8px;
    font-size: 13px;
    margin-right: 15px;
    font-family: Prompt-Regular;
}

a.selgame img {
    width: 16px;
    margin-right: 5px;
    margin-top: -2px;
}

a.logout {
    background-image: linear-gradient(to right, #d5042c, #e10040, #ea0055, #f2006b, #f80a81);
    color: #fff;
    padding: 6px 15px;
    border-radius: 8px;
    font-size: 13px;
    margin-right: 15px;
    font-family: Prompt-Regular;
}

a.logout img {
    width: 16px;
    margin-right: 5px;
    margin-top: -2px;
}

a.selgame:hover {
    background-image: linear-gradient(to left, #554ea0, #4c66b9, #3e7ecf, #2a95e3, #0fadf4);
}

a.logout:hover {
    background-image: linear-gradient(to left, #d5042c, #e10040, #ea0055, #f2006b, #f80a81);
}

small.cw {
    text-align: center;
    font-size: 13px;
    color: #fff;
    opacity: .5;
}

.modal-backdrop {
    opacity: 0.85 !important;
}

#logOut h5 {
    color: #fff;
    text-align: center;
    font-family: Prompt-Regular;
}

#logOut h3 {
    background: -webkit-linear-gradient(#fff, #0ab3fa, #5a479a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Prompt-Medium;
}

#reedeem h3 {
    background: -webkit-linear-gradient(#fff, #0ab3fa, #5a479a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Prompt-Medium;
}

#reedeem p {
    font-family: Prompt-Regular;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

#reedeem form input {
    color: #7b7a7a;
    height: 60px;
    border-radius: 5px;
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    font-family: Prompt-ExtraLight;
}

#member h3 {
    background: -webkit-linear-gradient(#fff, #0ab3fa, #5a479a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Prompt-Medium;
}

.member-label .row div:nth-child(odd) {
    color: #fff;
    font-family: Prompt-Regular;
}

.member-label .row div:nth-child(even) {
    color: #ba8b0d;
    font-family: Prompt-Regular;
}

.form-repass {
    color: #ffffff;
}

.box-but {
    position: absolute;
    left: 0;
    bottom: 0px;
    margin-bottom: -120px;
}

.form-repass input {
    font-family: Prompt-ExtraLight;
}

.gameroom .text .l {
    background-color: #284425;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.gameroom .text .r {
    background-color: #084403;
    border-radius: 5px;
    border: 2px solid #fff568;
    -webkit-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
    -moz-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
    box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
}

.gameroom2 {
    border: 1px solid #fff568;
    background-image: linear-gradient(to bottom, #000000, #1d0b11, #30101c, #451227, #5b1233, #651138, #70103e, #7a0e43, #7a0e43, #7a0e43, #7a0e43, #7a0e43);
    padding: 30px;
    border-radius: 5px;
}

.gameroom2 .text .l {
    background-color: #731543;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.gameroom2 .text .r {
    background-color: #9a0a50;
    border-radius: 5px;
    border: 2px solid #fff568;
    -webkit-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
    -moz-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
    box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
}

.closexx {
    background-image: linear-gradient(to bottom, #faf5e4, #f3e7c0, #edd99c, #e6ca78, #dfbb53, #dcb441, #d9ae2e, #d6a712, #d6a712, #d6a712, #d6a712, #d6a712);
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -15px;
    margin-top: -15px;
}

.closexx img {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

.set-rag {
    font-family: Prompt-Light;
}

.fic {
    color: #cdc7c7;
    font-family: Prompt-Light;
}

.fic img {
    margin-right: 15px;
}

.tb .col-4 {
    padding: 5px;
    color: #fff;
}

.tn .col-4 .w {
    /* background-image: url("../images/win.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
}

.tn .col-4 .l {
    /* background-image: url("../images/lose.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
}

.bot .col-4 .l {
    /* background-image: url("../images/lose.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
    padding-top: 15px;
}

.tr-t {
    width: 0;
    height: 0;
    border-bottom: 40px solid #5a489b;
    border-left: 30px solid transparent;
    position: absolute;
    right: 0;
}

.rect {
    background-image: linear-gradient(to right, #5a489b, #4278bd, #2aa9e1);
    height: 40px;
    color: #fff;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
}

.tr-r {
    width: 0;
    height: 0;
    border-top: 40px solid #2aa9e1;
    border-right: 30px solid transparent;
    position: absolute;
    left: 0;
}

.butm {
    background-image: linear-gradient(to right, #5a489b, #4278bd, #2aa9e1);
    height: 40px;
    color: #fff;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    font-family: Prompt-Regular;
}

.butm::before {
    width: 0;
    content: "";
    height: 0;
    border-bottom: 40px solid #5a489b;
    border-left: 30px solid transparent;
    position: absolute;
    left: 0;
    margin-left: -30px;
}

.butm:after {
    width: 0;
    content: "";
    height: 0;
    border-top: 40px solid #2aa9e1;
    border-right: 30px solid transparent;
    position: absolute;
    right: 0;
    margin-right: -30px;
}

.butm-o {
    font-family: Prompt-Regular;
    background-image: linear-gradient(to right, #ed1e24, #f35a2e, #fbab3a);
    height: 40px;
    color: #fff;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.butm-o::before {
    width: 0;
    content: "";
    height: 0;
    border-bottom: 40px solid #ed1e24;
    border-left: 30px solid transparent;
    position: absolute;
    left: 0;
    margin-left: -30px;
    margin-top: -1px;
}

.butm-o:after {
    width: 0;
    content: "";
    height: 0;
    border-top: 40px solid #fbab3a;
    border-right: 30px solid transparent;
    position: absolute;
    right: 0;
    margin-right: -30px;
    margin-top: -1px;
}

.rect img {
    margin-left: -5px;
    margin-top: -5px;
}

.pbg1 a .butm:hover {
    opacity: .85;
}

.gamb:hover {
    opacity: .85;
}

.gamb {
    background-image: linear-gradient(to right, #2c5933, #2f6948, #317a5e, #348b76, #389c8f, #36a59f, #36aeaf, #39b7c0, #33baca, #2fbcd5, #2fbfdf, #34c1e9);
    height: 70px;
    color: #fff;
    line-height: 65px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.gamb::before {
    width: 0;
    content: "";
    height: 0;
    border-bottom: 70px solid #2c5933;
    border-left: 30px solid transparent;
    position: absolute;
    left: 0;
    margin-left: -30px;
}

.gamb:after {
    width: 0;
    content: "";
    height: 0;
    border-top: 70px solid #34c1e9;
    border-right: 30px solid transparent;
    position: absolute;
    right: 0;
    margin-right: -30px;
}

.gamb .x {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
}

.gamb2:hover {
    opacity: .85;
}

.gamb2 {
    background-image: linear-gradient(to right, #b9174e, #b54b9b, #8d7bd3, #50a2ec, #37c1e9);
    height: 70px;
    color: #fff;
    line-height: 65px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.gamb2::before {
    width: 0;
    content: "";
    height: 0;
    border-bottom: 70px solid #b9174e;
    border-left: 30px solid transparent;
    position: absolute;
    left: 0;
    margin-left: -30px;
}

.gamb2:after {
    width: 0;
    content: "";
    height: 0;
    border-top: 70px solid #37c1e9;
    border-right: 30px solid transparent;
    position: absolute;
    right: 0;
    margin-right: -30px;
}

table.tb1 tbody tr td {
    width: 8.33%;
}

table.tb1 tbody tr td div {
    border: 2px solid #f5e6b6;
    background-image: linear-gradient(to bottom, #97750d, #a6810e, #b68e10, #c69a11, #d6a712);
    margin: 0px;
    border-radius: 5px;
    margin-top: 3px;
    padding: 0px;
    -webkit-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
    -moz-box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
    box-shadow: inset 0px 0px 16px -2px rgba(251, 243, 103, 1);
}

table.tb1 tbody tr td div img {
    margin-top: 10%;
    width: 80%;
}

@media only screen and (max-width: 991px) {
    /* MOBILE */
    .gameroom {
        border: 1px solid #fff568;
        background-image: linear-gradient(to bottom, #020302, #111811, #19271a, #203723, #27482c, #2a5030, #2d5834, #306038, #306038, #306038, #306038, #306038);
        padding: 30px 15px;
        border-radius: 5px;
    }
    table.tb1 tbody tr td {
        padding: 2px;
        width: 8.33%;
    }
}

@media only screen and (min-width: 992px) {
    /* MOBILE */
    .gameroom {
        border: 1px solid #fff568;
        background-image: linear-gradient(to bottom, #020302, #111811, #19271a, #203723, #27482c, #2a5030, #2d5834, #306038, #306038, #306038, #306038, #306038);
        padding: 30px 0px;
        border-radius: 5px;
    }
    table.tb1 tbody tr td {
        padding: 4px;
    }
}

table.tb2 {
    font-family: Prompt-Light;
}

table.tb2 thead tr {
    font-size: 16px;
    text-align: center;
    color: #fff;
}

table.tb2 thead tr th {
    width: 33.33%;
}

table.tb2 tbody tr {
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #598060;
}

table.tb2 tfoot tr {
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

table.tb2 tfoot tr td {
    padding: 0.25rem;
}

.th1 {
    background-color: rgb(255, 255, 255, .15);
}

.th2 {
    background-color: rgb(255, 255, 255, .30);
}

.th3 {
    background-color: rgb(255, 255, 255, .50);
}

.tf1 {
    background-color: rgb(255, 255, 255, .40);
}

.tf2 {
    background-image: linear-gradient(to right, #0b6f0e, #1d812d, #2c9448, #3ba762, #4bba7c);
}

.tf3 {
    background-image: linear-gradient(to right, #a6093f, #ba074e, #cd055f, #e00672, #f30b86);
}

.win {
    /* background-image: url(../images/win.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
}

.lose {
    /* background-image: url(../images/lose.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
}

.table-div {
    max-height: 350px;
    display: block;
    overflow-y: scroll;
}